
/* dark mode */


@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 1s linear;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #6c6a61;}

.fa-sun {color: #c98c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}



/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */



/* start nav bar  */

.imgnav{
    width: 40px;
    height: auto;
    background: none;
    border: none;
}
/* --------------------------------------------------------------------- */
#navp{
  background: none;
    /* background-color: #ffffff; */
    color: #637498;
}
/* --------------------------------------------------------------------- */
#links{
   font-weight: bolder;
    color: #637498;
    padding: 0.1vw;
    font-size: 20px;
    font-family: serif;
    margin: 0.1vw;
    width: 5vw;

}#links:hover{
    /* color: aliceblue; */
    border-bottom: 2px solid#637498;
}

/* --------------------------------------------------------------------- */

#iconnav {
  font-weight: bolder;
    color:#637498;
    /* border: px white solid; */
    transition: .5s;
}#iconnav:hover{
    color: rgb(161, 163, 167);
    letter-spacing: 2px;

}
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.div_nav{
    width: 95%;
    margin: 5px auto;
}

.h1nav{
  font-weight: bolder;
    color: #637498;
    font-size:larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.divnavs{
    display: flex;
}
/* end nav bar  */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
// header
// header
// header
// header
// header
.about {
  $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
  $transition: 0.6s $cubic;
  $size: 40px;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: $size;
  height: $size;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;

  .bg_links {
     width: $size;
     height: $size;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(#000000, 0.2);
     border-radius: 100%;
     backdrop-filter: blur(5px);
     position: absolute;
  }

  .logo {
     width: $size;
     height: $size;
     z-index: 9;
     background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: 10px 7px;
     opacity: 0.9;
     transition: all 1s 0.2s ease;
     bottom: 0;
     right: 0;
  }

  .social {
     opacity: 0;
     right: 0;
     bottom: 0;

     .icon {
        width: 100%;
        height: 100%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        display: flex;
        transition: all 0.2s ease, background-color 0.4s ease;
        opacity: 0;
        border-radius: 100%;
     }

     &.portfolio {
        transition: all 0.8s ease;

        .icon {
           background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
        }
     }

     &.dribbble {
        transition: all 0.3s ease;
        .icon {
           background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
        }
     }

     &.linkedin {
        transition: all 0.8s ease;
        .icon {
           background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
        }
     }
  }

  &:hover {
     width: 105px;
     height: 105px;
     transition: all $transition;

     .logo {
        opacity: 1;
        transition: all 0.6s ease;
     }

     .social {
        opacity: 1;

        .icon {
           opacity: 0.9;
        }

        &:hover {
           background-size: 28px;
           .icon {
              background-size: 65%;
              opacity: 1;
           }
        }

        &.portfolio {
           right: 0;
           bottom: calc(100% - 40px);
           transition: all 0.3s 0s $cubic;
           .icon {
              &:hover {
                 background-color: #698fb7;
              }
           }
        }

        &.dribbble {
           bottom: 45%;
           right: 45%;
           transition: all 0.3s 0.15s $cubic;
           .icon {
              &:hover {
                 background-color: #ea4c89;
              }
           }
        }

        &.linkedin {
           bottom: 0;
           right: calc(100% - 40px);
           transition: all 0.3s 0.25s $cubic;
           .icon {
              &:hover {
                 background-color: #0077b5;
              }
           }
        }
     }
  }
}


@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");

$font-01: "Raleway", sans-serif;

$gradient-02: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$gradient-01: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);

$m-01: #9197ae;
$m-02: #637498;

@mixin sm {
  @media screen and (max-width: 799px) {
     @content;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;

  &:focus {
     outline: 0;
  }
}

body {
  font-family: $font-01;
}

.mainNav {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $m-01;
  text-transform: uppercase;
  padding: 0 40px;
  @include sm {
     padding: 0 20px;
  }

  &__logo {
     font-weight: 800;
     letter-spacing: 1px;
     font-size: 18px;
  }

  &__links {
     display: flex;
     @include sm {
        display: none;
     }
  }

  &__link {
     letter-spacing: 1px;
     font-size: 14px;
     margin-left: 20px;
     font-weight: 600;
     box-shadow: inset 0px -10px 0px rgba(white, 0.5);
     transition: all 0.4s ease, transform 0.2s ease;
     padding: 2px 4px;
     transform: translateY(0px); 
     
     &:hover {
       transform: translateY(-5px);
       box-shadow: inset 0px -20px 0px white; 
     }
  }

  &__icon {
     background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
     width: 32px;
     height: 32px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     display: none;

     @include sm {
        display: block;
     }
  }
}

.mainHeading {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 40px;
  background-image: $gradient-01;
  

  @include sm {
     padding: 0 20px;
  }

  &__content {
     max-width: 1110px;
     min-height: 600px;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;

     @include sm {
        min-height: 500px;
     }
  }

  &__text {
     z-index: 1;
     color: $m-02;
     background-color: rgba(white, 0.2);
     padding: 40px;
     max-width: 620px;
     margin-top: 100px;
     width: 70%;
     backdrop-filter: blur(8px);
     animation: text 0.8s 0.6s ease backwards;
     position: relative;
     
     &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: rgba(white, 0.5);
        top:0;
        left:0;
        animation: line 0.8s 0.6s ease backwards;
        @keyframes line {
        0% {
           right:0;
           width:100%;
           opacity:0;
        }
     }
     }

     @include sm {
        padding: 20px;
        margin: 90px 0 40px 0;
     }

     @keyframes text {
        0% {
           opacity: 0;
           transform: translateX(200px);
        }
     }
  }

  &__preTitle {
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 2px;
     margin-bottom: 16px;
     color: $m-02;
  }

  &__title {
     text-transform: uppercase;
     font-weight: 200;
     letter-spacing: 2px;
     margin-bottom: 24px;
     font-size: 40px;
     color: $m-02;

     @include sm {
        margin-bottom: 16px;
        font-size: 28px;
     }
  }

  &__description {
     letter-spacing: 0.5px;
     font-size: 16px;
     line-height: 26px;
     @include sm {
        font-size: 14px;
     }
  }

  &__image {
     right: 0;
     max-width: 600px;
     width: 60%;
     height: 600px;
     transform: translatey(100px);
     position: absolute;
     overflow: hidden;
     animation: image 0.6s 0.2s ease backwards;

     @include sm {
        height: 480px;
        width: 70%;
        transform: translatey(80px);
        right: -6%;
     }

     @keyframes image {
        0% {
           opacity: 0;
           transform: translatey(200px);
        }
     }

     &:before,
     &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0%;
        top: 100%;
        background-image: $gradient-01;
        opacity: 1;
        left: 0;
     }

     &:before {
        animation: imageBefore 1s 0.2s ease backwards;

        @keyframes imageBefore {
           0% {
              height: 100%;
              top: 0;
           }
        }
     }

     &:after {
        background-image: $gradient-01;
        height: 100%;
        top: 0;
        opacity: 0.2;
     }
     img {
        width: 100%;
        height: 100%;
     }
  }
}

.cta {
  padding: 16px 32px;
  color: $m-02;
  background-color: transparent;
  border: 1px solid rgba($m-02, 0.4);
  font-family: $font-01;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba($m-02, 0.2);
  transition: all 0.4s ease;

  &:hover {
     border: 1px solid rgba($m-02, 0.1);
     box-shadow: inset 0px -80px 0px rgba($m-02, 0.1);
     transform: translateY(-5px);
  }
  @include sm {
     margin-top: 16px;
  }
}

// header
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
$card-space: 3px;

html,
body {
  height: 100%;
}

body {
   
  
//   display: grid;
  place-items: center;
//   perspective: 1000px;
}

.board {
  --card-width: min(200px, 20vmin);
  display: flex;
  margin: auto;
  align-items: center;
  width: calc(4 * var(--card-width));
  box-sizing: content-box;
  aspect-ratio: 16/9;
  transform: rotateX(60deg);
  border: 4px solid black;
  border-radius: 16px;
  padding: 1rem 3rem;
  background: hsl(201deg, 100%, 32%);
}

.board,
.card,
.wrapper,
.content {
  transform-style: preserve-3d;
}

.card {
  --duration: 1200ms;
  position: absolute;
  width: var(--card-width);
  aspect-ratio: 20/29;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  transition: all 200ms;
  pointer-events: none;

  @each $i in (1, 2, 3) {
    &:nth-child(#{$i}) {
      transform: translateZ($i * $card-space);
    }
  }
}

.wrapper {
  pointer-events: initial;
  display: block;
  position: relative;
  height: 100%;
  transition: all var(--duration) ease-out;
  transform-origin: 200% 50%;
}

.content {
  display: block;
  height: 100%;
  transition: all var(--duration);
}

.face {
  transition: transform calc(var(--duration) * 3 / 4);
  transition-delay: calc(var(--duration) / 6);
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: calc(var(--card-width) / 20);
  background-size: cover;
  background-position: center;
  background-color: white;
}

.front {
  transform: rotateZ(0.5turn) rotateY(-0.5turn);
  border-width: 1px 0px;
  border-color: black;
  border-style: solid;

  .card:nth-of-type(1) & {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/English_pattern_ace_of_spades.svg/1024px-English_pattern_ace_of_spades.svg.png");
  }
  .card:nth-of-type(2) & {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/English_pattern_2_of_spades.svg/1024px-English_pattern_2_of_spades.svg.png");
  }
  .card:nth-of-type(3) & {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/English_pattern_3_of_spades.svg/1024px-English_pattern_3_of_spades.svg.png");
  }
}

.back {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkKnlurWcUYrlDbGvf8IUz6rLX7oX1hHt7FW_6e4vNOwFfPhmPURXxGK45qVAqW7dtxsY&usqp=CAU");
  border: 1px solid black;
}

.card.flipped {
  @each $i in (1, 2, 3) {
    &:nth-child(#{$i}) {
      transform: translateZ((4 - $i) * $card-space);
    }
  }

  .wrapper {
    transform: rotateY(0.5turn);
  }

  .content {
    transform: rotateX(-0.5turn) rotateY(1.5turn);
  }
}



/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
// footer
// footer
// footer
// footer
// footer
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #accbee;
    color: #698fb7;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #2f3133;
}

.footer-content-column ul li a {
  color: #111112;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #698fb7;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #698fb7;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #698fb7;
    color: #fdfdfd;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #637498;
    border-radius: 21px;
    color: #698fb7;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #698fb7;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #698fb7;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #698fb7;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #637498;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}